body,
html {
    width: 100%;
    height: 100%;
}

body {
    background-image: url("../images/starwars-game-back.jpg");
    background-color: black;
    background-size: cover;
    background-attachment: fixed;
}

#pageTitle {
    text-shadow: 6px 2px black;
    font-size: 48px;
    font-weight: bolder;
}

.subTitle {
    text-shadow: 4px 2px black;
    font-weight: bold;
}

.instList {
    font-size: 22px;
}

.character-img {
    height: 100px;
    width: 160px;
    border: 3px solid red;
    border-radius: 5px;
    margin: 5px;
}

.character-img:hover {
    border: 3px solid white;
    cursor: pointer;
}

.character-box .content {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    /* Fallback color */
    background: rgba(0, 0, 0, 0.5);
    /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    padding: 5px;
    text-align: center;
}

ol {
    text-align: left;
}

/* @media (max-width: 1200px) {
} */

/* @media (max-width: 992px) {
} */

/* @media (max-width: 768px) {
} */

@media (max-width: 576px) {

    #pageTitle {
        font-size: 32px;
    }

    .subTitle {
        font-size: 20px;
    }

    .instList {
        font-size: 16px;
    }

    .character-img {
        height: 80px;
        width: 100px;
    }
}